{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<!-- Product section-->
<section class="py-3"> 
  {% for x in homes %}
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <!-- Title --> 
      <h3 style="text-align:center;margin-top:2%;margin-bottom:2%">{{x.title}}</h3>
      <!-- Image Slider --> 
      <div class="col-md-12" id="bolig_2nd_image">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" >
            <div class="carousel-inner">
              {% for a in x.images.all %}  
              {% if forloop.counter == 1 %}  
                  <div class="carousel-item active">
                      <img src="{{ a.image }}" class="d-block w-100" alt="...">
                  </div>
              {% else %}  
                  <div class="carousel-item">
                    <img src="{{ a.image }}" class="d-block w-100" alt="...">
                  </div>
              {% endif %} 
              {% endfor %}  
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
      </div> 
    </div>
  </div>
</section>

<section class="py-3"> 
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Info</th>
                        <th scope="col">Data</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Type</td>
                        <td>{{x.type}}</td>
                      </tr>
                      <tr>
                        <td>By</td>
                        <td>{{x.by}}</td>
                      </tr>
                      <tr>
                        <td>Kommune</td>
                        <td>{{x.kommune}}</td>
                      </tr>
                      <tr>
                        <td>Region</td>
                        <td>{{x.region}}</td>
                      </tr>
                      <tr>
                        <td>Dato</td>
                        <td>{{x.liggetid|stringformat:".0f"}}</td>
                      </tr>
                      <tr>
                        <td>Areal</td>
                        <td>{{x.areal|floatformat:0}} m2</td>
                      </tr>
                      <tr>
                        <td>Grund</td>
                        <td>{{x.grund|floatformat:0}} m2</td>
                      </tr>
                      <tr>
                        <td>År</td>
                        <td>{{x.year_built|stringformat:".0f"}}</td>
                      </tr>
                      <tr>
                        <td>Renoveret</td>
                        <td>{{x.year_renovated|stringformat:".0f"}}</td>
                      </tr>
                      <tr>
                        <td>Værelser</td>
                        <td>{{x.rum|floatformat:0}}</td>
                      </tr>
                      <tr>
                        <td>Toiletter</td>
                        <td>{{x.toiletter|floatformat:0}}</td>
                      </tr>
                      <tr>
                        <td>Energi</td>
                        <td>{{x.energi}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-md-6">
              <!-- "//maps.google.com/maps?q=56.0753670000,10.0428180000&z=15&output=embed" -->
              <iframe src={{'//maps.google.com/maps?q='}}{{x.latitude}}{{','}}{{x.longitude}}{{'&z=15&output=embed'}}  width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
  </div>
</div>
</section>    

<!-- Product Info--> 
<section class="py-3">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
          <!-- Description Accordion --> 
          <div class="col-md-12">
              <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Beskrivelse
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      {{x.description}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}

<!-- Home Bid Section-->
<section class="py-4 bg-light" style="border-top: 1px solid #212529;margin-top:3%">
    <div class="container px-4 px-lg-5">
        <h2 class="fw-bolder mb-4">Giv din vurdering</h2>
        <div class="container px-4 px-lg-5">
            <div class="col mb-5">
              <form class="row row-cols-lg g-3 align-items-center" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <!-- {{ form.as_p }} -->
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Indsend</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}          

