{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- Testimonial section-->
<div class="py-5 bg-light">
  <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-10 col-xl-7">
              <div class="text-center">
                 
                    
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Ingen nye boliger tilgængelig</h5>
                          <p class="card-text">Du har placeret dit gæt på alle boliger i spillet - kom tilbage i morgen, når nye boliger bliver tilgængelige. Eller tjek din statistik på highscore-siden.</p>
                        </div>
                        <div class="card-body">
                          <a class="btn btn-secondary btn-sm px-4 me-sm-3" href="/highscore">Se highscore</a>
                        </div>
                      </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock content %}          

